@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.my-swal-popup {
  background-color: #00d1b2; /* Couleur Bulma "primary" */
  color: white;
  border-radius: 15px;
}
.swal-transparent-popup {
  background-color: transparent !important; /* fond transparent */
  box-shadow: none !important;             /* supprime l'ombre par défaut */
  color: white;                             /* couleur du texte si besoin */
}
.swal-border-popup {
  background-color: transparent !important; /* fond transparent */
  border: 2px solid #38bdf8; /* border sky-400 */
  color: #38bdf8;             /* texte sky-400 si nécessaire */
  border-radius: 10px;
  box-shadow: none !important;
}
.swal-round-image {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.7);
}
